<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.js"></script>
    <style>
        .center {
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#example1').dataTable({
                responsive: true,
                autoWidth: false,
                order: [],
                columns: [
                    {
                        data: 0, render: function (data, type, row, meta) {
                            var num = meta.row + meta.settings._iDisplayStart + 1;
                            return '<a href="/event/' + data + '">' + num + '</a>'
                        }
                    },
                    {data: 1},
                    {data: 2},
                    {data: 3},
                    {data: 4},
                    {data: 5}
                ],
                columnDefs: [
                    {targets: [1, 2, 3, 4,5], className: 'center', orderable: true, searchable: true},
                    {targets: [0], className: 'center', orderable: false, searchable: false},

                ],
                searching: true,
                processing: true,
                serverSide: true,
                stateSave: false,
                ajax: {
                    'url': '{% url "core:myevent_list_data" %}',
                    'data': function (data) {
                    }
                }
            })
        });
    </script>
</head>
<body>
<table id="example1">
    <thead>
    <th>#</th>
    <th>title</th>
    <th>description</th>
    <th>date</th>
    <th>owner</th>
    <th>participants Number</th>
    </thead>
    <tbody></tbody>
</table>

</body>
</html>